{:linters {:clojure-lsp/unused-public-var {:exclude-when-contains-meta #{:dev/before-load
                                                                         :dev/after-load}}}
 :lint-as {reagent.core/with-let clojure.core/let}}
